body{
    background-color: rgb(111, 111, 111);
    padding: 5px;
    margin: 0px;
}

.header{
    background-image: url(ProjetoCSS-inicio/imagens/bg-3.jpg);
    background-size: cover;
    height: 500px;
    background-position: right center;
    padding-top: 1px;

}

.div {
    margin: 100px auto 0;
    width: 80%;
    text-align: center;
    color: white;
}

.div h1{
    font-size: 50px;
    text-shadow: 2px 4px 3px black;
    margin-bottom: 0px;

}

.div p{
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-bottom: 3px solid white;
    display: inline-block;
}

.header ul{
    text-align: right;
}

.header ul li{
    display: inline-block;
    padding: 0px;
    margin-left: 10px;
}

.header ul li a{
    background-color: #5f6275ae;
    padding: 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: 2px solid white;
    color: white;
}

.header ul li a:hover{
    background-color: #424458ae;
    padding: 12px 17px;
}

h2{
    background-color: rgb(164, 163, 163);
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    border-bottom: 4px solid black ;
    display: block;
}

section{
    background-color: rgb(227, 225, 225);
    margin: 30px 250px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-left:5px solid black;
    margin-bottom: 50px;
} 

.link{
    background-color: rgb(152, 150, 150);
    padding: 10px;
    width: 80px;
    margin-top: 15px;
    display: block;
}

footer{
    background-color: rgb(83, 81, 81);
    color: aliceblue;
    margin-top: 20px;
    text-align: center;
    padding: 25px;
}
